#contact_container {
    height: 1400px;
    width: 100%;
    max-height: 1500px;
    max-width: 2000px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    height: 100%;
    width: 100%;
    background-color: #000000b3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
    padding: 0%;
} 

.contact_content {
    height: 45%;
    width: 75%;
    min-height: 600px;
    min-width: 1400px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
}

.contact_infos {
    height: 100%;
    width: 50%;
    /* user-select: none; */
}


.contact_header {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.contact_description {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(171, 171, 171);
}

.contact_info {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

.contact_info > .info1 {
    height: 50%;
    width: 90%;
    border-radius: 2rem;
    border: 1px solid rgb(45, 45, 45);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.info1 .info_container {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info1 .info_container:hover .icon_circle {
    background-color: #cf7070;
}

.info_container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: rgb(45, 45, 45);
    height: 70%;
    width: 1px;
}

.icon_container,
.info_title,
.info_subtitle {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    overflow: hidden;
    

}


.icon_container {
    height: 30%;
    width: 80%;
}

.icon_circle {
    height: 3.4rem;
    aspect-ratio: 1/1;
    background-color: rgb(45,45, 45);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.icon_circle i {
    color: white;
    font-size: 1.5rem;
}


.info_title {
    height: 25%;
}

.info_title span,
.info_title2 span {
    color: white;
    font-family: Nunito;
    font-size: 1.5rem;
}

.info_subtitle {
    height: 10%;
}

.info_subtitle span,
.info_subtitle2 span {
    color: #cf7070;
    font-family: Nunito;
    font-size: 1rem;
}

.contact_info > .info2 {
    height: 30%;
    width: 90%;
    border-radius: 2rem;
    border: 1px solid rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_container2 {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info2 .info_container2:hover .icon_circle {
    background-color: #cf7070;
}

.info_center_container {
    height: 100%;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}


.icon_container2 {
    height: 100%;
    width: 14%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.info_container2  .text_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.info_title2 {
    height: 30%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_subtitle2 {
    height: 30%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_form_container {
    height: 90%;
    width: 40%;
    border-radius: 2rem;
    border: 1px solid rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_form_header {
    height: 30%;
    width: 90%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_title {
    height: 30%;
    width: 100%;
}

.form_title span {
    color: white;
    font-size: 2rem;
    font-family: Nunito;
}

.form_subtitle span {
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 0.1rem;
    color: rgb(171, 171, 171);
}

.form_subtitle {
    height: 30%;
    width: 100%;
}




.contact_form {
    height: 70%;
    width: 90%;
    border: 2px solid red;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#contact_message {
    grid-column: 1 / 3;
}

.contact_input {
    border-bottom: 2px solid rgb(45,45, 45) ; 
    
}

.form_button_container {
    grid-column: 1 / 3;
    border: 2px solid red;
    display: flex;
    justify-content: start;
    align-items: center;
}

#contact_button {
    height: 80%;
    aspect-ratio: 1 / 0.35;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Nunito;
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
    background: linear-gradient(to left,rgba(233, 103, 103, 1) 0%, #fd9090 85%, rgba(233, 103, 103, 1) 100%);
    background-size: 200% 100%;
    background-position: left;
    transition: background-position 0.2s ease-in-out;
}

#contact_button:hover {
    background-position: right;
}



.contact_location {
    height: 45%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
}
