#hero_container {
    height: 790px;
    width: 100%;
    max-height: 1000px;
    max-width: 2000px;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.hero {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero > h1 {
    font-family: Infant;
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
    margin-top: auto;
    color: white;
    user-select: none;
    pointer-events: none;
}

#learn_more_container {
    height: 10vh;
    width: 10vw;
    margin-top: auto;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.learn_more_text {
    font-family: Infant;
    color: white;
    font-size: 25px;
    text-align: center;
    user-select: none;
}

.learn_more_button {
    height: 50px;
    width: 50px;
    border: 1px  solid rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(232, 232, 232, 1) 0%, rgba(224, 224, 224, 1) 57%, rgb(216, 216, 216) 78%, rgba(227, 227, 227, 1) 100%);
    border-radius: 20px;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.learn_more_button i {
    font-size: 25px;
}

