#menu_panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 35vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    user-select: none;
    overflow: hidden;
    
}

#menu_panel.open {
    transform: translateX(0%);
}

#close_button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: #fcc5c5;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    transform: translateY(-250%);
    transition: transform 0.5s ease-in-out;
}

#close_button.visible3 {
    transform: translateY(0%);
    transition: transform 1.2s ease-in-out;
}

#close_button:hover {
    background-color: #ff9f9f;
}

#close_button:active {
    background-color: #ff7b7b;
}

.close_button_line {
    height: 3px;
    width: 25px;
    background-color: #000000;
    transform-origin: center;
    position: absolute;
    border-radius: 20px;
    
}

#line1 {
    transform: rotate(45deg);
}
#line2 {
    transform: rotate(135deg);
}

#panel_content {
    height: 700px;
    width: 400px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    position: fixed;
    transform: translateY(150%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 1.5s ease-in;
}

#panel_content.visible2 {
    opacity: 1;
    transform: translateY(0%);
    transition: transform 1.2s ease-out, opacity 1.5s ease-in;
}

#panel_content > .panel_title {
    height: auto;
    width: 100%;
    font-size: 45px;
    color: #e96767;
    font-family: Hoss;
    text-align: center;
    cursor: pointer;
}

#panel_content > .panel_subtitle {
    height: auto;
    width: 100%;
    text-align: center;
    font-family: Infant;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

#panel_content > .panel_icon {
    font-size: 30px;
    color: #e96767;
    display: flex;
    margin-top: 30px;
}

#panel_content > .panel_phone {
    font-size: 35px;
    font-family: Hoss;
    color: #e96767;
    transition: color 0.1s ease-in-out;
    cursor: pointer;
}

#panel_content > .panel_phone:hover {
    color: #fc9696;
}

#panel_content > .panel_phone:active {
    color: #f5bcbc;
}

#panel_content > .panel_location {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-family: Infant;
}

#panel_content > .panel_email  {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-family: Infant;
}

#panel_content > .panel_schedule {
    height: auto;
    width: 100%;
    text-align: center;
    font-family: Infant;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    line-height: 200%;
    letter-spacing: 0.1vb;
}

#panel_content > .panel_socials {
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: #000000;
    margin-top: 30px;
    
}

#panel_content > .panel_socials > a {
    transition: color 0.1s ease-in-out;
}

#panel_content > .panel_socials > a:hover {
    color: #7b7b7b !important;
}

#panel_content > .panel_socials > a:active {
    color: #9f9f9f !important;
}

#overlay {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000af;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 9;
    user-select: none;
}

#overlay.visible {
    transform: translateX(0);
    cursor: url(../../../public/images/close-stroke.png) 16 16, auto;
}

.tooltip {
    position: fixed;
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: Infant;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
}