#products_panel {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80vw;
	height: 90vh;
	background: rgba(0, 0, 0, 0.821);
	transform: translate(-50%, -50%);
	/* transform: translateX(100%); */
	transition: transform 0.3s ease-in-out;
	border: 3px solid #fcc5c5;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	z-index: 9;
	user-select: none;
	overflow: hidden;
}

.panel2_header {
	height: 40%;
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	border: 2px solid red;
}

.panel2_title {
	font-family: Infant;
	color: white;
	font-size: 5rem;
	border: 2px solid red;
}

.panel2_description {
	font-family: Nunito;
	color: white;
	font-size: 2rem;
}

.panel2_content {
	height: 60%;
	width: 100%;
	border: 2px solid red;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	overflow: hidden;
}

.panel2_image {
	height: 80%;
	aspect-ratio: 1 / 1;
	border: 2px solid red;
}

.panel2_image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
