#testimonials_container {
  height: 500px;
  width: 100%;
  max-height: 1000px;
  max-width: 2000px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../public/images/prices_background.jpg) no-repeat center
    center;
  background-size: cover;
}

.testimonials {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.616);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.testimonials_header {
  height: 20%;
  width: 100%;
  background-color: #a3a3a300;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.splide {
  height: 60%;
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splide__track {
  height: 100%;
  width: 90%;
}

.splide__list {
  height: 100%;
  width: 100%;
}

.splide__slide {
  font-size: 5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.splide__text {
  height: auto;
  width: auto;
  max-width: 90%;
  font-family: Nunito;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.splide__user {
  height: 20%;
  width: 80%;
  font-family: Nunito;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 177, 177);
}

.splide__arrow {
  background-color: #ff6d6d66;
  padding: 2.25%;
  transition: background-color 0.4s ease;
  position: absolute;
}

.splide__arrow svg {
  fill: rgb(255, 216, 216);
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.splide__arrow:hover {
  background-color: #ff6d6d99;
}

.splide__arrow--prev {
  top: 50%;
  left: 0;
}

.splide__arrow--next {
  top: 50%;
  right: 0;
}

.testimonials_footer {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
  user-select: none;
}

@media (max-width: 768px) {
  #testimonials_container {
    height: 400px;
  }

  .testimonials_header {
    height: 40%;
    width: 90%;
  }

  .splide {
    height: 50%;
    width: 90%;
  }

  .splide__text {
    font-size: 1.1rem;
  }

  .splide__user {
    font-size: 0.8rem;
  }

  .testimonials_footer {
    height: 10%;
  }
  .splide__arrow svg {
    min-width: 1rem;
    min-height: 1rem;
  }
}
